.App {
  text-align: center;
}

a{
  text-decoration: none;
  color: rgb(73, 71, 71);
  font-size: large;
}

.navbar-items{
  margin: 5px 20px;
}

.categoryTable{
  margin: 0 auto;
  text-align: center;
}

ul{
  list-style-type: none;
}

table{
  width: 60%;
}

th, td{
  padding: 5px 50px 0 5px;
}

tr{
  height: 10px;
  margin-bottom: 0;
}

h3{
  margin-bottom: 20px;  
}


h4{
  margin-bottom: 15px;
}

.color-gray{
  color: rgb(147, 144, 144);
}

.link,
.link:hover,
.link:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
  font-size: medium;
}