.App {
  text-align: center;
}

a{
  text-decoration: none;
  color: rgb(73, 71, 71);
  font-size: large;
}

.navbar-items{
  margin: 5px 20px;
}


ul{
  list-style-type: none;
}

table{
  width: 60%;
}

th, td{
  padding: 5px 50px;
}

tr{
  height: 10px;
  margin-bottom: 0;
}

h3{
  margin-bottom: 20px;
}

.color-gray{
  color: rgb(147, 144, 144);
}
